* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
}

#header {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background: #080808;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 170px;
  color: white;
  font-style: oblique;
}
.logo span {
  color: #ff004f;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a:after {
  position: absolute;
  right: 0;
  margin: auto;
  width: 0;
  content: "";
  background: #ff004f;
  height: 3px;
  bottom: -6px;
  transition: width 0.3s ease;
}

nav ul li a:hover:after {
  width: 100%;
}

nav .fas {
  display: none;
}

#ecom-solution{
  margin-top: 100px;
  color: black;
}

.container-ecom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ecom-con-1 {
  flex-basis: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ecom-con-1 h2 {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  padding-bottom: 40px;
}

.ecom-con-1 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin: 0 0 15px;
  color: #666666;
}

.ecom-conl-2 {
  flex-basis: 50%;
}

.ecom-con-2 img {
  height: 500px;
  width: 600px;
}

.ecom-con-3 {
  margin-top: 100px;
  flex-basis: 50%;
}

.ecom-con-3 img {
  height: 500px;
  width: 600px;
}

.ecom-con-4 {
  flex-basis: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.ecom-con-4 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin: 0 0 15px;
  color: #666666;
}

.container-text h1 {
  text-align: center;
  margin-bottom: 50px;
}

.ecom-con-1,
.ecom-con-4,
.ecom-con-5,
.ecom-con-8,
.ecom-con-9,
.ecom-con-12,
.ecom-con-13,
.ecom-con-17,
.ecom-con-16 {
  flex-basis: 45%;
  flex-direction: column;
}

.ecom-con-2,
.ecom-con-3,
.ecom-con-6,
.ecom-con-7,
.ecom-con-10,
.ecom-con-11,
.ecom-con-14,
.ecom-con-15 {
  flex-basis: 50% !important;
}

.ecom-con-2 img,
.ecom-con-3 img,
.ecom-con-6 img,
.ecom-con-7 img,
.ecom-con-10 img,
.ecom-con-11 img,
.ecom-con-14 img,
.ecom-con-15 img,
.ecom-con-18 img {
  height: 300px;
  width: 500px;
}

.ecom-con-3 img,
.ecom-con-7 img,
.ecom-con-11 img,
.ecom-con-15 img {
  animation-name: fadestart;
  animation-duration: 5s;
}

@keyframes fadestart {
  0% {
    transform: translatex(-800px);
  }
  100% {
    transform: translate(0);
  }
}

.ecom-con-2 img,
.ecom-con-6 img,
.ecom-con-10 img,
.ecom-con-14 img,
.ecom-con-18 img {
  animation-name: fadeend;
  animation-duration: 5s;
}

@keyframes fadeend {
  0% {
    transform: translatex(800px);
  }
  100% {
    transform: translate(0);
  }
}

.ecom-con-1 h3,
.ecom-con-4 h3,
.ecom-con-5 h3,
.ecom-con-8 h3,
.ecom-con-9 h3,
.ecom-con-12 h3,
.ecom-con-13 h3,
.ecom-con-16 h3,
.ecom-con-17 h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

.ecom-con-1 p,
.ecom-con-4 p,
.ecom-con-5 p,
.ecom-con-8 p,
.ecom-con-9 p,
.ecom-con-12 p,
.ecom-con-13 p,
.ecom-con-16 p,
.ecom-con-17 p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 7px;
  color: #666666;
  padding-bottom: 7px;
}

.ecom-con-3,
.ecom-con-4,
.ecom-con-5,
.ecom-con-6,
.ecom-con-7,
.ecom-con-8,
.ecom-con-9,
.ecom-con-10,
.ecom-con-11,
.ecom-con-12,
.ecom-con-13,
.ecom-con-14,
.ecom-con-15,
.ecom-con-16,
.ecom-con-18,
.ecom-con-17 {
  margin-top: 70px;
}

#technologies {
  padding-top: 70px;
  width: 100%;
}

.container-text h1 {
  text-align: center;
  margin-bottom: 80px;
}

.language-container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

.languages-card {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.languages-card:hover {
  background: lightblue;
}

.languages-card img {
  width: 100%;
  height: 300px;
  display: block;
}

.language-card-body {
  padding: 15px;
}

.language-card-body h2 {
  margin-bottom: 10px;
  color: #333;
}

.language-card-body p {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 25px 0;
  color: #fff;
  background: #000000;
  margin-top: 20px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  nav .fas {
    display: block;
    font-size: 25px;
    color: #fff;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  #technoligies {
    padding-top: 30px;
  }

  #ecom-solution {
    margin-top: 20px;
  }

  .ecom-con-1,
  .ecom-con-4,
  .ecom-con-5,
  .ecom-con-8,
  .ecom-con-9,
  .ecom-con-12,
  .ecom-con-13,
  .ecom-con-17,
  .ecom-con-16 {
    flex-basis: auto;
  }

  .ecom-con-3 img,
  .ecom-con-7 img,
  .ecom-con-11 img,
  .ecom-con-15 img,
  .ecom-con-2 img,
  .ecom-con-6 img,
  .ecom-con-10 img,
  .ecom-con-14 img,
  .ecom-con-18 img {
    height: 300px;
    width: 300px;
  }

  .ecom-con-1 h3,
  .ecom-con-4 h3,
  .ecom-con-5 h3,
  .ecom-con-8 h3,
  .ecom-con-9 h3,
  .ecom-con-12 h3,
  .ecom-con-13 h3,
  .ecom-con-16 h3,
  .ecom-con-17 h3 {
    margin-top: -100px;
  }

  .ecom-con-3,
  .ecom-con-4,
  .ecom-con-5,
  .ecom-con-6,
  .ecom-con-7,
  .ecom-con-8,
  .ecom-con-9,
  .ecom-con-10,
  .ecom-con-11,
  .ecom-con-12,
  .ecom-con-13,
  .ecom-con-14,
  .ecom-con-15,
  .ecom-con-16,
  .ecom-con-18,
  .ecom-con-17 {
    margin-top: 20px;
  }

  .languages-card {
    display: block;
    width: 90%;
  }
}
